linux-4.2.3.tar.xz
V1/linux-4.2.3/*
linux-*/
*.swp
V1/initfs/
*/initramfs_data.cpio.gz
linux-4.2.3.tar.xz
V1/hello
*/sysinfo
busybox/
1_24_stable/
buildroot
brImages/
initfs/

*.order  
*.symvers  
*.ko  
*.mod.c  
*.mod.o  
*.o
*.cmd
.tmp_versions

V4/modul-src/access/access
V4/modul-src/myzeri/myzero
V4/modul-src/mynull/mynull
